tbody > tr > td.details-patient,
tbody > tr > td.details-study,
tbody > tr > td.details-series {
    background: url('../../img/details_open.png') no-repeat center center;
    cursor: pointer;
    width: 40px;
}
tbody > tr.shown > td.details-patient,
tbody > tr.shown > td.details-study,
tbody > tr.shown > td.details-series {
    background: url('../../img/details_close.png') no-repeat center center;
    cursor: pointer;
    width: 40px;
}

.my-modal > .modal-dialog {
    width: 100% !important;
    height: 100% !important;
    margin: 10px;
}

.modal-content {
    color: #fff !important;
    background-color: #000 !important;
    height: 100%;
}

.close {
    color: #fff !important;
    opacity: 1;
}

.modal-footer{
    background-color: #000 !important;
}

.list-group-item{
    text-align: center;
    padding: 5px;
    width: 75px;
    height: 75px;
    display: inline-block;
    vertical-align: top;
}
.states{
    display: initial;
    width: 110px;
    height: 75px;
    background: #f5f5f5;
    color: #555;
    text-align: center;
}
.states > select {
    width: 100px;
}

.h5details {
    margin-bottom: 10px;
    margin-top: 0px;
}