

input[type="text"].form-control{
    text-transform:capitalize;
}
.disabled{
    pointer-events:none;
    opacity:0.4;
}
.my-modal > .modal-dialog > .modal-content > .modal-body{
    height: 500px;
    overflow-y: scroll;
}
.modal-lg{
    width: 90%;
}