<div class="page-header">
    <h1>
        <?= __('Dashboard');?>
    </h1>
</div><!-- /.page-header -->

<div class="row">
    <div class="col-xs-12">
        <!-- conteudo aqui -->
    </div><!-- /.col -->
</div><!-- /.row -->
